@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab&display=swap');

body{
    margin: 0em 4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: #f9f9f9;
    text-align: center;
    
}

article{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero{
    width: 100%;
    height: auto;
}

h1{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem; 
    color: #9f2942;
    
    
}

#details{
    color: #a9a9ba;
    margin-bottom: 20px;
    
}

p{
    padding: 1em;
    text-align:left
}

blockquote{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.25rem;
    background-color: #f9f9f9;
    border: 2px solid #ececec;
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    text-align: left;
}

#buttons{
    margin: 30px 0;
    text-align: left;
}


#buttons a{
    display: inline-block;
    color: #ec8295;
    text-decoration: none;
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #ececec
}

#buttons a:hover {
    background-color: #a9a9ba;
    color: #9f2942
}

/* Footer */
footer {
    background-color: #29293a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: #ec8295;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}